
.logo-nav-fixed {
	display: block;
}

.alert-error {
	background-color: #dd4b39 !important;
	color: #fff;
}

.navy-dark-bg{
	background-color: #373736 !important;
}

.header-3  .header-btm .navbar .navbar-collapse ul li a:hover, .header-3 .header-btm .navbar .navbar-collapse ul li.active > a,.menu-wrap ul li.active > a {
	color: #F98A3C !important;
}

.categories-btn {
	background-color: #F98A3C !important;
}

.header-form button{
	background-color: #F98A3C !important;
}

.title::before {
	background-color: #F98A3C;
}

.footer-social ul li a:hover,
.footer-social.social_dark ul li a:hover {
	color: #F98A3C;
}

/**
 * Contact 
 */
.contact-locations li span {
	background-color: #F98A3C;
	color: #fff;
}

/**
 * Footer
 */
.footer-links li a, .footer-box.box-4 ul li p, .footer-box.box-4 ul li a {
	color: #CCC !important;
}

.fb-iner p {
	color: #CCC !important;
}

.footer-top .fb-title {
	color: #fff !important;
}

.footer-box.box-4 ul li i {
	color: #F98A3C;
}


.carousel-indicators .active, .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background-color: #F98A3C;
}

/* .counters-section {
	padding: 65px 0 85px 0;
	position: relative;
	background-image: 'assets/images/bg-footer.jpg';
}

.counters-section::before {
	background-color: #373736;
} */

.about-section-counter {
	padding: 65px 0 85px 0;
	position: relative;
}

.about-section-3::before {
	/* background: rgba(0, 0, 0, 0.7); */
	background-color: #fff;
}

.about-section-3 img {
	width: 80%;
	height: auto;
}

.about-section-3 p {
	font-weight: 300;
}

.about-info.mision p, .about-info.vision p {
	color: #fff; 
	margin: 0 20px;
}

.submit-btn-2 {
	background-color: #F98A3C;
	color: #fff;
}
.navbar-toggler i {
	border: 1px solid #F98A3C;
}

.navbar-toggler {
	color: #F98A3C;
}

.counter-inner img{
	width: 64px;
}

.event-section h6 {
	text-align: center;
}
.event-section p{
	text-align: center;
}

.event-section img {
	margin-top: 10px;
}

.deals-section {
	padding-bottom: 0 !important;
}
.offer-section {
	padding-top: 0 !important;
}

.information-section {
	max-height: 150px;
	padding: 50px 0;
}

.information-section h3{
	text-align: center;
	color: #fff;
	margin: 10px 0;
}



/**
 * Buttons
 */ 
.btn-primary {
	background-color: #F98A3C;
	color: #fff;
	border: 2px solid #F98A3C;
}

.categories-btn:after,
.header-form button:after {
	background-color: #6CC72B;
}

.categories-btn::before, .header-form button::before {
	background-color: #6CC72B;
}

.information-section button {
	position: relative;
	/* right: 10px;
	top: 0;
	bottom: 0; */
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
	font-weight: 500;
	padding: 10px 32px;
	cursor: pointer;
	z-index: 8;
}


.information-section button:hover {
	background-color: #fff;
	border: 2px solid #F98A3C;
	color: #F98A3C;
}

.btn-primary:hover {
	background-color: #6CC72B;
	border-color: #6CC72B;
	color: #ffff;
}

.alert {
	margin: 5px 30px;
	background-color: #6CC72B;
	color: #fff;
}


/** Slider customise */
.slider-type-2 .slider-area {
	height: 300px;
}

.slider-area {
	padding: 5px 0;
}

/**
 * Responsive
 */ 
@media (max-width: 991px) {
	.header-btm .navbar .navbar-collapse > ul > li > a:hover, .header-btm .navbar .navbar-collapse > ul > li.active > a, .header-btm .navbar .navbar-collapse > ul > li.show > a {
		background-color: #F98A3C;
		color: #fff !important;
	}
	/* .header-btm .navbar .navbar-collapse > ul > li > a {
		color: #fff !important;
	} */
	.header-3  .header-btm .navbar .navbar-collapse ul li a:hover, .header-3 .header-btm .navbar .navbar-collapse ul li.active > a,.menu-wrap ul li.active > a {
		color: #fff !important;
	}
}